.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  background-color: black;
  color: white;
}

.link {
  color: #fff;
}
.link:hover {
  color: #00f;
}
